# Django
DJANGO_SECRET_KEY=ls(j!^6iq4t=^go4!ic&-#b)fe=9&96-i$+46efh6i)ax_5tv$
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# AI Models
YOLO_MODEL_PATH=yolov8x.pt
VIDEO_SWIN_MODEL_PATH=ai_models/video_swin_model.pth
YOLO_CONFIDENCE=0.5
ACTIVITY_CONFIDENCE=0.6
